<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>Add Cost</title>

        <style type="text/css">
            #genel{
                margin-top:6%;
            }

        </style>
    </head>

    <body>

    <div id="genel">
        <form th:object="${cost}" method="post" th:action="@{/admin/addCost}">
            <div class="form-group">
                <label for="name">Harcama Türü</label>
                <input class="form-control" type="text"  th:field="*{name}" id="name" required>
            </div>

            <div class="form-group">
                <label for="description">Açıklama</label>
                <input class="form-control" type="text"  th:field="*{description}" id="description" required>
            </div>

            <div class="form-group">
                <label for="price">Tutar</label>
                <input class="form-control" type="text" th:field="*{price}" id="price" required>
            </div>
            <div class="form-group">
                <label for="taskStatus">Proje</label>
                <select class="form-control" th:field="*{projectIdProject}" id="taskStatus">
                    <option
                            th:each="pp: ${projects}"
                            th:value="${pp.idProject}"
                            th:text="${pp.projectName}" ></option>
                </select>

            </div>



            <button class="btn btn-primary" type="submit">Ekle</button>
        </form>
    </div>
    </body>
</th:block>
</html>