<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Project Managment</title>

    </head>
    <body>


    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Toplam</span>
                        <h5>Kulanıcılar</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${userCount}">1</h1>
                        <small>Toplam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Toplam</span>
                        <h5>Projeler</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${projectCount}"></h1>
                        <small>Toplam</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Toplam</span>
                        <h5>Görevler</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${taskCount}"></h1>
                        <small>Toplam</small>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>


    </body>
</th:block>
</html>