<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Online Project Managment">
  <meta name="author" content="Online Project Managment">

  <title>Online Project Managment</title>
  <!--
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/template.css}">
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
-->

  <link rel="stylesheet" th:href="@{/css/sliderbar_css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/plugins/toastr/toastr.min.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/style.css}">
  <link rel="stylesheet" th:href="@{/css/slidebar_font-awesome/css/font-awesome.css}">
  <script th:src="@{/js/slidebar_js/plugins/gritter/jquery.gritter.css}"></script>

  <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver" />
    <property name="additionalDialects">
      <set>
        <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect" />
      </set>
    </property>
  </bean>

<style type="text/css">

  .col-lg-10{
    padding-left: 5px;
 }
.row{
  margin-left: -5px;
}
</style>


</head>


  <!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/admin}">Admin Page</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/register}">New User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/addProject}">New Project</a>
      </li>    <li class="nav-item">
      <a class="nav-link" th:href="@{/logout}">Log out</a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
-->

  <body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/images/empty-profile.png" width="55" height="55"  />
                             </span>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"th:text= "${#request.getRemoteUser()}"></strong>
                             </span> <span class="text-muted text-xs block"> <b class="caret"></b></span> </span> </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a></a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="mailbox.html">Mailbox</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
              </ul>
            </div>
            <div class="logo-element">
              PM+
            </div>
          </li>
          <li class="active">
            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Panel</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li> <a th:href="@{/admin}">Yönetici Sayfası</a></li>
              <li><a th:href="@{/admin/addProject}">Yeni Proje Oluştur</a></li>
              <li><a th:href="@{/logout}">Çıkış</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/admin/details}"><i class="fa fa-diamond"></i> <span class="nav-label">İstatistik</span></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Proje Operasyonları</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a th:href="@{/admin/addProject}">Yeni Proje Oluştur</a></li>
              <li><a th:href="@{/admin/adminproject}">Projeler Listesi</a></li>
              <li><a th:href="@{/admin/addCost}">Projeye Harcama Ekle</a></li>
            </ul>
          </li>

          <li>
            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Kullanıcı Operasyonu</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a th:href="@{/admin/adminuser}">Kullanıcılar Listesi</a></li>
              <li><a th:href="@{/allUser}">Kullanıcı Raporları</a></li>
            </ul>
          </li>
          <!--

          <li>
            <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="profile_2.html">Profile v.2</a></li>
              <li><a href="contacts_2.html">Contacts v.2</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="project_detail.html">Project detail</a></li>
              <li><a href="activity_stream.html">Activity stream</a></li>
              <li><a href="teams_board.html">Teams board</a></li>
              <li><a href="social_feed.html">Social feed</a></li>
              <li><a href="clients.html">Clients</a></li>
              <li><a href="full_height.html">Outlook view</a></li>
              <li><a href="vote_list.html">Vote list</a></li>
              <li><a href="file_manager.html">File manager</a></li>
              <li><a href="calendar.html">Calendar</a></li>
              <li><a href="issue_tracker.html">Issue tracker</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="article.html">Article</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="timeline.html">Timeline</a></li>
              <li><a href="pin_board.html">Pin board</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="search_results.html">Search results</a></li>
              <li><a href="lockscreen.html">Lockscreen</a></li>
              <li><a href="invoice.html">Invoice</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="login_two_columns.html">Login v.2</a></li>
              <li><a href="forgot_password.html">Forget password</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="404.html">404 Page</a></li>
              <li><a href="500.html">500 Page</a></li>
              <li><a href="empty_page.html">Empty page</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="toastr_notifications.html">Notification</a></li>
              <li><a href="nestable_list.html">Nestable list</a></li>
              <li><a href="agile_board.html">Agile board</a></li>
              <li><a href="timeline_2.html">Timeline v.2</a></li>
              <li><a href="diff.html">Diff</a></li>
              <li><a href="pdf_viewer.html">PDF viewer</a></li>
              <li><a href="i18support.html">i18 support</a></li>
              <li><a href="sweetalert.html">Sweet alert</a></li>
              <li><a href="idle_timer.html">Idle timer</a></li>
              <li><a href="truncate.html">Truncate</a></li>
              <li><a href="password_meter.html">Password meter</a></li>
              <li><a href="spinners.html">Spinners</a></li>
              <li><a href="spinners_usage.html">Spinners usage</a></li>
              <li><a href="tinycon.html">Live favicon</a></li>
              <li><a href="google_maps.html">Google maps</a></li>
              <li><a href="datamaps.html">Datamaps</a></li>
              <li><a href="social_buttons.html">Social buttons</a></li>
              <li><a href="code_editor.html">Code editor</a></li>
              <li><a href="modal_window.html">Modal window</a></li>
              <li><a href="clipboard.html">Clipboard</a></li>
              <li><a href="text_spinners.html">Text spinners</a></li>
              <li><a href="forum_main.html">Forum view</a></li>
              <li><a href="validation.html">Validation</a></li>
              <li><a href="tree_view.html">Tree view</a></li>
              <li><a href="loading_buttons.html">Loading buttons</a></li>
              <li><a href="chat_view.html">Chat view</a></li>
              <li><a href="masonry.html">Masonry</a></li>
              <li><a href="tour.html">Tour</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="typography.html">Typography</a></li>
              <li><a href="icons.html">Icons</a></li>
              <li><a href="draggable_panels.html">Draggable Panels</a></li> <li><a href="resizeable_panels.html">Resizeable Panels</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="video.html">Video</a></li>
              <li><a href="tabs_panels.html">Panels</a></li>
              <li><a href="tabs.html">Tabs</a></li>
              <li><a href="notifications.html">Notifications & Tooltips</a></li>
              <li><a href="helper_classes.html">Helper css classes</a></li>
              <li><a href="badges_labels.html">Badges, Labels, Progress</a></li>
            </ul>
          </li>

          <li>
            <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="table_basic.html">Static Tables</a></li>
              <li><a href="table_data_tables.html">Data Tables</a></li>
              <li><a href="table_foo_table.html">Foo Tables</a></li>
              <li><a href="jq_grid.html">jqGrid</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="ecommerce_products_grid.html">Products grid</a></li>
              <li><a href="ecommerce_product_list.html">Products list</a></li>
              <li><a href="ecommerce_product.html">Product edit</a></li>
              <li><a href="ecommerce_product_detail.html">Product detail</a></li>
              <li><a href="ecommerce-cart.html">Cart</a></li>
              <li><a href="ecommerce-orders.html">Orders</a></li>
              <li><a href="ecommerce_payments.html">Credit Card form</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="basic_gallery.html">Lightbox Gallery</a></li>
              <li><a href="slick_carousel.html">Slick Carousel</a></li>
              <li><a href="carousel.html">Bootstrap Carousel</a></li>

            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li>
                <a href="#" id="damian">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>
                  <li>
                    <a href="#">Third Level Item</a>
                  </li>

                </ul>
              </li>
              <li><a href="#">Second Level Item</a></li>
              <li>
                <a href="#">Second Level Item</a></li>
              <li>
                <a href="#">Second Level Item</a></li>
            </ul>
          </li>
          <li>
            <a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
          </li>
          <li class="landing_link">
            <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
          </li>
          <li class="special_link">
            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
          </li>
          -->
        </ul>

      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
              <div class="form-group">
                <input type="text"  class="form-control" name="top-search" id="top-search">
              </div>
            </form>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">Hoşgeldiniz PM+</span>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <div class="dropdown-messages-box">
                    <a href="profile.html" class="pull-left">
                      <img alt="image" class="img-circle" src="img/a7.jpg">
                    </a>
                    <div class="media-body">
                      <small class="pull-right">46h ago</small>
                      <strong>Comert Baldemir</strong> started following <strong>Ozgur Bircan</strong>. <br>
                      <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="dropdown-messages-box">
                    <a href="profile.html" class="pull-left">
                      <img alt="image" class="img-circle" src="img/a4.jpg">
                    </a>
                    <div class="media-body ">
                      <small class="pull-right text-navy">5h ago</small>
                      <strong>Kubilay Kaptanoglu</strong> started following <strong>Ozgur Bircan</strong>. <br>
                      <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="dropdown-messages-box">
                    <a href="profile.html" class="pull-left">
                      <img alt="image" class="img-circle" src="img/profile.jpg">
                    </a>
                    <div class="media-body ">
                      <small class="pull-right">23h ago</small>
                      <strong>Ozgur Bircan</strong> started following <strong>Emre Sahin</strong>. <br>
                      <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="text-center link-block">
                    <a href="mailbox.html">
                      <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
              </a>
              <ul class="dropdown-menu dropdown-alerts">
                <li>
                  <a href="mailbox.html">
                    <div>
                      <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                      <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="profile.html">
                    <div>
                      <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                      <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="grid_options.html">
                    <div>
                      <i class="fa fa-upload fa-fw"></i> Server Rebooted
                      <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="text-center link-block">
                    <a href="notifications.html">
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>


            <li>
              <a th:href="@{/logout}">
                <i class="fa fa-sign-out"></i> Çıkış
              </a>
            </li>
          </ul>


</nav>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2 th:text="${#request.getRequestURI()}"></h2>
            <ol class="breadcrumb">
              <li>
                <a th:href="@{/admin}">Admin</a>
              </li>
              <li class="active">
                <strong>Teams board</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2">

          </div>
        </div>




  <div class="wrapper">
  <th:block layout:fragment="content">
  </th:block>
  </div>
      </div></div></div>


        <!-- Mainly scripts -->
<script src="/js/slidebar_js/jquery-3.1.1.min.js"></script>
<script src="/js/slidebar_js/bootstrap.min.js"></script>
<script src="/js/slidebar_js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/slidebar_js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/js/slidebar_js/plugins/flot/jquery.flot.js"></script>
<script src="/js/slidebar_js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/slidebar_js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/js/slidebar_js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/slidebar_js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/js/slidebar_js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/slidebar_js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/slidebar_js/inspinia.js"></script>
<script src="/js/slidebar_js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/js/slidebar_js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/js/slidebar_js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/js/slidebar_js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/js/slidebar_js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/js/slidebar_js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/js/slidebar_js/plugins/toastr/toastr.min.js"></script>

<script src="/js/script/plugins/toastr/toastr.min.js"></script>




</body>
</html>
