<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>Online Project Managment</title>
    </head>

    <body>

    <div class="col-xs-12 .col-sm-6 .col-md-8 .col-xs-6 .col-md-4">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-4" th:each="project:${projects}">
                    <div class="ibox">
                        <a th:href="@{'/projectDetails/' + ${project.idProject}}">
                        <div class="ibox-title">
                            <h5 th:text="${project.projectName}"></h5>
                        </div>
                        <div class="ibox-content">
                            <div class="team-members">
                                <a href="#"><img alt="member" class="img-circle" src="/images/empty-profile.png"></a>
                                <a href="#"><img alt="member" class="img-circle" src="/images/empty-profile.png"></a>
                                <a href="#"><img alt="member" class="img-circle" src="/images/empty-profile.png"></a>
                                <a href="#"><img alt="member" class="img-circle" src="/images/empty-profile.png"></a>
                                <a href="#"><img alt="member" class="img-circle" src="/images/empty-profile.png"></a>

                            </div>
                            <h4 th:text="${project.startDate}"></h4>
                            <p>
                               açıklama
                            </p>
                            <div>
                                <span>Projenin Durumu:</span>
                                <div class="stat-percent">48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;"  class="progress-bar"></div>
                                </div>
                            </div>
                            <div class="row  m-t-sm">
                                <div class="col-sm-4">
                                    <div class="font-bold">Görevler</div>
                                    <span th:text="${project.tasks.size()}"></span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="font-bold">Harcamalar</div>
                                    <span th:text="${project.costs.size()}"></span>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div class="font-bold">Bütçe</div>
                                    <span th:text="${project.budget}"></span><i class="fa fa-level-up text-navy"></i>
                                </div>
                            </div>

                        </div>
                        </a>
                    </div>

                </div>
            </div>


        </div>
    </div>



    </body>
</th:block>
</html>