<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">


  <head>
    <meta charset="UTF-8">
    <title>Update User</title>

      <script>
                 $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').trigger('focus')
                     })
              </script>


    </head>
    <body>
    <form method="post" th:object="${user}" th:action="@{'/admin/update/' + ${user.idUser}}">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" th:field="*{username}" name="username" id="username" required>
      </div>

      <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" type="text" th:field="*{email}" name="email" id="email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" th:field="*{password}" name="password" id="password" >
      </div>
      <div class="form-group">
        <label for="role">Role Status</label>
        <select class="form-control" th:field="*{role}" id="role">
          <option
                  th:each="role: ${roles}"
                  th:value="${role}"
                  th:text="${role}" ></option>
        </select>

      </div>


      <button class="btn btn-primary" type="submit">Update</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete </button>
    </form>


          <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Silme İşlemi</h2>

          </div>
          <div class="modal-body">
            <img src="/warning.png">
            <h3 style="margin-top: 20px;font-weight: bold;font-size: 20px"> Kullanıcı Silinsin mi?</h3>
          </div>
          <div class="modal-footer">
            <form method="post" th:action="@{'/admin/deleteuser/' + ${user.idUser} }">
              <button type="button" class="btn btn-secondary btn-lg"  data-dismiss="modal">Hayır</button>
              <button type="submit" class="btn btn-danger">Evet</button></form>
          </div>
        </div>
      </div>
    </div>



  </body>
</th:block>
</html>