<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">


    <head>
        <meta charset="UTF-8">
        <title>Users</title>
    </head>
    <body>
    <div class="col-xs-12 .col-sm-6 .col-md-8 .col-xs-6 .col-md-4">
        <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-4" th:each="user:${users}">
                <div class="contact-box">
                    <a th:href="@{'/admin/update/' + ${user.idUser}}">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-xs img-responsive" th:src="${user.profileUrl}">
                                <div class="small font-bold" th:text="${user.role}" ></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong th:text="${user.fullName}"></strong></h3>
                            <address class="small font-bold">
                                <strong th:text="${user.username}"></strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Email">Email:</abbr>
                                <p th:text="${user.email}"></p>
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
    </body>
</th:block>
</html>