<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Project Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="col-xs-12 .col-sm-6 .col-md-8 .col-xs-6 .col-md-4">

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Today Tasks </span>
                        <h2 class="font-bold" th:text="${todayTask.size()}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-square-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Open Tasks </span>
                        <h2 class="font-bold" th:text="${totalOpenTasks}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa  fa-spinner fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> In Progress </span>
                        <h2 class="font-bold" th:text="${totalInProgressTasks}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-check-square-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Closed Tasks </span>
                        <h2 class="font-bold" th:text="${totalClosedTasks}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="widget navy-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">$ 1,540</h1>

                    <h3 class="font-bold no-margins">
                        Annual income
                    </h3>
                    <small>Income form project Alpha.</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="flot-base" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas><canvas class="flot-overlay" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget lazur-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">$ 210,660</h1>

                    <h3 class="font-bold no-margins">
                        Monthly income
                    </h3>
                    <small>Income form project Beta.</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart2" style="padding: 0px; position: relative;"><canvas class="flot-base" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas><canvas class="flot-overlay" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget yellow-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">$ 50,992</h1>

                    <h3 class="font-bold no-margins">
                        Half-year revenue margin
                    </h3>
                    <small>Sales marketing.</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas><canvas class="flot-overlay" width="652" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 652px; height: 100px;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span> Users </span>

                        <h2 class="font-bold" th:text="${totalUser}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Projects</span>
                        <h2 class="font-bold" th:text="${totalProject}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-comment fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Comments</span>
                        <h2 class="font-bold" th:text="${totalComment}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-phone fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Comments</span>

                        <h2 class="font-bold">120</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-euro fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Comments</span>

                        <h2 class="font-bold">462</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-shield fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Comments</span>

                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>

    </div>
</div>

</body>
</th:block>
</html>