<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ibox-content">

    <div>
        <div class="chat-activity-list">

            <div class="chat-element" th:each="comment : ${comments}">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="img/a2.jpg">
                </a>
                <div class="media-body ">
                    <small class="pull-right text-navy">1m ago</small>
                    <strong th:text="${comment.taskUserIdUser}"></strong>
                    <p class="m-b-xs" th:text="${comment.comment}">
                    </p>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-form">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
            </div>
        </form>
    </div>
</div>
</body>
</th:block>
</html>