<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block>

<head>
  <meta charset="utf-8">
  <title>PM+ Hoşgeldiniz</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="onlie project system" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
  <link th:href="@{/lib/magnific-popup/magnific-popup.css}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"><b>PM+</b></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Anasayfa</a></li>
          <li><a href="#about">Hakkımızda</a></li>
          <li><a href="#features">Özellikler</a></li>
          <li><a href="#team">Ekibimiz</a></li>
          <li><a href="#gallery">Resimlerimiz</a></li>
          <li><a th:href="@{/login}">Giriş Yap</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>PM+</h2>
      <p>Proje Süreç Planlama Yönetim Uygulamasıdır.</p>
      <a th:href="@{/register}" class="btn-get-started scrollto">Şimdi Dene</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="img/product-screen-1.png" alt="">
      </div>

      <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="img/product-screen-3.png" alt="">
      </div>

    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Hakkımızda</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            PM+ proje faaliyetlerinin proje hedeflerine ulaşmak için planlanması ve süreç yönetimi kontrolüdür. Bu faaliyetler doğrultusunda performans, maliyet, zaman sınırlamaları içinde kalınmasını hedefler.

          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
            <img src="img/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInRight">
            <h2>Proje yapan ekipler, projelerini oluştururken bir planlama, raporlama ve süreç yönetimine ihtiyaçları vardır. </h2>
            <h3>Bu yönetim projede performans, maliyet ve zaman sınırlamaları içinde kalınması ve proje büyüklüğünün kabul edilebilir sınırlar içerisinde tutulmasını sağlar. </h3>
            <p>
              Proje yönetimi önümüzü görmemizi, sistemli ve mantıklı düşünmemizi sağlar, ekibin uyumlu bir şekilde çalışmasını, proje de hedefleri belirleme ve hedef ve zaman taahhütlerinizi tutturmanızı ve kontrolünü sağlar.

            </p>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Proje süreç ve planlama sistemi, projelerini oluşturan ekipler için planlama, raporlama ve süreç yönetimi yapabilmelerini sağlar. </li>
              <li><i class="ion-android-checkmark-circle"></i> Bu sistem sayesinde, projede performans, maliyet ve zaman açısından kazanç elde edilir. </li>
              <li><i class="ion-android-checkmark-circle"></i> Bu sistem sayesinde, projede performans, maliyet ve zaman açısından kazanç elde edilir. </li>
            </ul>

            <p>
              Proje ile ilgili bütün verileri aktarabileceğiniz ve bu şekilde hem projenin tüm bileşenlerini görüp hem de projenin anlık durumunu ve geleceğini planlanabilir.

            </p>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 offset-lg-4">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">PM+ Özellikleri</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="img/product-features.png" alt="" class="wow fadeInLeft">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">Planlama</a></h4>
                <p class="description">Proje sorunlarını oluşturun, işleri planlayın ve yazılım ekibinizdeki görevleri dağıtın.</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                <h4 class="title"><a href="">Maliyet</a></h4>
                <p class="description">Proje maliyetlerini PM+ sayesinde kolay bir şekilde takip edin!</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                <h4 class="title"><a href="">Raporlama</a></h4>
                <p class="description">Ekip çalışanlarının performansını ve yaptıkları işleri kolay bir şekilde takip edin.</p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="">Analiz</a></h4>
                <p class="description">PM+ ile projenizin durumunu grafiklerle analiz edin.</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- #features -->

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features">

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" height="550"  src="img/createproject.png" alt="">
                <div class="wow fadeInLeft" style="margin-top: 150px">
                <h2>PM+ ile projelerinizi kolay bir şekilde  planlayın.</h2>
                <h3>Projelerinizi planlarken ekibinize ne kadar sürede tamamlanacağını belirtin.</h3>
                <p>Projeleriniz de bütçe belirleyin. PM+ ile bütçe durumunuzu kontrol edin. Bütçe kontrol sayesinde maliyetinizi belirleyin.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right"  width="750" src="img/task1.png" alt="">
              <div class="wow fadeInRight" style="margin-top: 80px">
                <h2>PM+ ile proje sorunlarını oluşturun.</h2>
                  <i class="ion-ios-color-filter-outline wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">İşleri planlayın ve yazılım ekibinizdeki görevleri dağıtın. </p>
                <i class="ion-ios-barcode-outline wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">Ekibinize görevleri açık bir şekilde dağıtın. Ne kadar sürede tamamlayacağını ayarlayın, aciliyet süresini belirleyin. Ekibinizin ne durumda olduğunuzu takip edin.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="img/advanced-feature-3.jpg" alt="">
              <div class="wow fadeInLeft" style="margin-top: 80px">
                <h2>PM+ ile projenin durumunu analiz edin.</h2>
                <h3>Projeniz de ne kadar görev dağılımı olduğunu grafiklerle basit bir şekilde görün. </h3>
                <p></p>
                <i class="ion-ios-albums-outline"></i>
                <p>Projenizin ne aşamada olduğunu ve ekibin performansını analiz edin.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #advanced-features -->



    <!--==========================
      Clients
    ============================-->
    <section id="clients">
      <div class="container">

        <div class="row wow fadeInUp">

          <div class="col-md-2">
            <img src="img/clients/client-1.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="img/clients/client-2.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="img/clients/client-3.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="img/clients/client-4.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="img/clients/client-5.png" alt="">
          </div>

          <div class="col-md-2">
            <img src="img/clients/client-6.png" alt="">
          </div>

        </div>
      </div>
    </section><!-- #more-features -->

    <!--==========================
      Pricing Section
    ============================-->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Ekimiz</h3>
          <span class="section-divider"></span>
        </div>
        <div class="row wow fadeInUp" style="position: relative;left: 25%">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team/ozgur.png" alt=""></div>
              <h4>Özgür Bircan</h4>
              <span>FullStack Developer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="img/team/comert.jpg" alt=""></div>
              <h4>Cömert Baldemir</h4>
              <span>FullStack Developer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Resimlerimiz</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/1.png" class="gallery-popup">
                <img src="img/gallery/1.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/2.png" class="gallery-popup">
                <img src="img/gallery/2.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/3.png" class="gallery-popup">
                <img src="img/gallery/3.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/4.png" class="gallery-popup">
                <img src="img/gallery/4.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/5.png" class="gallery-popup">
                <img src="img/gallery/5.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="img/gallery/6.png" class="gallery-popup">
                <img src="img/gallery/6.png" alt="">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #gallery -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>Avilon</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>PM+</strong>. All Rights Reserved
          </div>

        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/wow/wow.min.js}"></script>
  <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/lib/superfish/superfish.min.js}"></script>
  <script th:src="@{/lib/magnific-popup/magnific-popup.min.js}"></script>


  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>

</body>
</th:block>
</html>
