<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>Online Project Managment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height">
    </head>
    <body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Proje İsmi</th>
            <th>Başlama Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Harcamalar</th>
            <th>Bütçe</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="project : ${projects}">
            <td>
                <a th:text="${project.projectName}" th:href="@{'/projectDetails/' + ${project.idProject}}"></a>
            </td>
            <td th:text="${project.startDate}"></td>
            <td th:text="${project.estimatedDate}"></td>
            <td th:text="${project.laborCost}"></td>
            <td th:text="${project.budget}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</th:block>
</html>