<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Online Project Managment">
  <meta name="author" content="Online Project Managment">

  <title>Online Project Managment</title>
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/plugins/toastr/toastr.min.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/sliderbar_css/style.css}">
  <link rel="stylesheet" th:href="@{/css/slidebar_font-awesome/css/font-awesome.css}">
  <script th:src="@{/js/slidebar_js/plugins/gritter/jquery.gritter.css}"></script>


  <style type="text/css">

    .col-lg-10{
      padding-left: 5px;
    }
    .row{
      margin-left: -5px;
    }
  </style>


</head>

<body>
<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/images/empty-profile.png" width="55" height="55"  />
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" th:text="${#request.getRemoteUser()}"></strong>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li class="divider"></li>
              <li><a th:href="@{/logout}">Çıkış</a></li>
            </ul>
          </div>
          <div class="logo-element">
            PM+
          </div>
        </li>
        <li class="active">
          <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Panel</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"> <a th:href="@{/admin}">Yönetici Sayfası</a></li>
            <li><a th:href="@{/index}">Projelerim</a></li>
            <li><a th:href="@{/myTasks}">Görevlerim</a></li>
            <li><a th:href="@{/logout}">Çıkış</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{/admin/details}"><i class="fa fa-diamond"></i> <span class="nav-label">İstatistik</span></a>
        </li>

        <li>
          <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Kullanıcı Operasyonu</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li><a th:href="@{/myprofile}">Profil Düzenleme</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </nav>


  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          <form role="search" class="navbar-form-custom" action="search_results.html">
            <div class="form-group">
              <input type="text"  class="form-control" name="top-search" id="top-search">
            </div>
          </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Hoşgeldiniz PM+</span>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="img/a7.jpg">
                  </a>
                  <div class="media-body">
                    <small class="pull-right">46h ago</small>
                    <strong>Comert Baldemir</strong> started following <strong>Ozgur Bircan</strong>. <br>
                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="img/a4.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="pull-right text-navy">5h ago</small>
                    <strong>Kubilay Kaptanoglu</strong> started following <strong>Ozgur Bircan</strong>. <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <img alt="image" class="img-circle" src="img/profile.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="pull-right">23h ago</small>
                    <strong>Ozgur Bircan</strong> started following <strong>Emre Sahin</strong>. <br>
                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="mailbox.html">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="profile.html">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="grid_options.html">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="notifications.html">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>


          <li>
            <a th:href="@{/logout}">
              <i class="fa fa-sign-out"></i> Çıkış
            </a>
          </li>
        </ul>


      </nav>

      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2 th:text="${#request.getRequestURI()}"></h2>
          <ol class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a>App views</a>
            </li>
            <li class="active">
              <strong>Teams board</strong>
            </li>
          </ol>
        </div>
        <div class="col-lg-2">

        </div>
      </div>




        <div class="wrapper">
          <th:block layout:fragment="content">
          </th:block>
        </div>






        <!-- Mainly scripts -->
        <script src="/js/slidebar_js/jquery-3.1.1.min.js"></script>
        <script src="/js/slidebar_js/bootstrap.min.js"></script>
        <script src="/js/slidebar_js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/js/slidebar_js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Flot -->
        <script src="/js/slidebar_js/plugins/flot/jquery.flot.js"></script>
        <script src="/js/slidebar_js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/js/slidebar_js/plugins/flot/jquery.flot.spline.js"></script>
        <script src="/js/slidebar_js/plugins/flot/jquery.flot.resize.js"></script>
        <script src="/js/slidebar_js/plugins/flot/jquery.flot.pie.js"></script>

        <!-- Peity -->
        <script src="/js/slidebar_js/plugins/peity/jquery.peity.min.js"></script>
        <script src="/js/slidebar_js/demo/peity-demo.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/js/slidebar_js/inspinia.js"></script>
        <script src="/js/slidebar_js/plugins/pace/pace.min.js"></script>

        <!-- jQuery UI -->
        <script src="/js/slidebar_js/plugins/jquery-ui/jquery-ui.min.js"></script>

        <!-- GITTER -->
        <script src="/js/slidebar_js/plugins/gritter/jquery.gritter.min.js"></script>

        <!-- Sparkline -->
        <script src="/js/slidebar_js/plugins/sparkline/jquery.sparkline.min.js"></script>

        <!-- Sparkline demo data  -->
        <script src="/js/slidebar_js/demo/sparkline-demo.js"></script>

        <!-- ChartJS-->
        <script src="/js/slidebar_js/plugins/chartJs/Chart.min.js"></script>

        <!-- Toastr -->
        <script src="/js/slidebar_js/plugins/toastr/toastr.min.js"></script>

        <script src="/js/script/plugins/toastr/toastr.min.js"></script>

</body>
</html>
