<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/plugins/toastr/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/style.css}">
    <link rel="stylesheet" th:href="@{/css/slidebar_font-awesome/css/font-awesome.css}">
<style type="text/css">
.gray-bg{
  background-color: #2f4050;
}


body:not(.mini-navbar) {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: #2f4050;
}
</style>
  </head>
  <body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">PM+</h1>

      </div>
      <h3>Welcome to PM+</h3>

      <form method="post" th:action="@{/login}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Giriş Yap</button>
        <a class="btn btn-sm btn-white btn-block" href="/register">Hesap Oluştur</a>
      </form>

    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="/js/slidebar_js/jquery-3.1.1.min.js"></script>
  <script src="/js/slidebar_js/bootstrap.min.js"></script>

  </body>
</th:block>
</html>
