
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My profile Page</title>


    <!-- Bootstrap -->
    <link href="/demo.html5imageupload.css?v1.3" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>



<div class="col-xs-12 .col-sm-6 .col-md-8 .col-xs-6 .col-md-4">
    <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" th:src="${user.profileUrl}">
                    <h6>Upload a different photo...</h6>

                    <form method="POST" action="/uploadfile" enctype="multipart/form-data">
                        <input type="file" name="file"accept="image/x-png,image/gif,image/jpeg"/><br/><br/>
                        <input type="submit" value="Submit" />
                    </form>



                    <div th:if="${message}">
                        <h2 th:text="${message}"/>
                    </div>
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">

                <h3>Personal info</h3>

                <form method="post" th:object="${user}" th:action="@{'/editUser/' + ${user.idUser}}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" th:field="*{username}" name="username" id="username" required>
                    </div>

                    <div class="form-group">
                        <label for="username">Email</label>
                        <input class="form-control" type="text" th:field="*{email}" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Git Account</label>
                        <input class="form-control" type="text" th:field="*{gitAccount}" name="gitAccount" id="gitAccount" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" th:field="*{password}" name="password" id="password" >
                    </div>

                    <button class="btn btn-primary" type="submit">Update</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete </button>
                </form>
                <div th:if="${pwmessage}">
                    <h2 th:text="${pwmessage}"/>
                </div>
            </div>
        </div>







<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="/html5imageupload.js?v1.4.3"></script>

<script>

    $('#retrievingfilename').html5imageupload({
        onAfterProcessImage: function() {
            $('#filename').val($(this.element).data('name'));
        },
        onAfterCancel: function() {
            $('#filename').val('');
        }

    });

    $('#save').html5imageupload({
        onSave: function(data) {
            console.log(data);
        },

    });

    $('.dropzone').html5imageupload();

    $( "#myModal" ).on('shown.bs.modal', function(){
        $('#modaldialog').html5imageupload();
    });
    /*
    $('#form').html5imageupload({
    	onAfterProcessImage: function() {
    		$(this.element).closest('form').submit();
    	}
    });

    $('form button.btn').unbind('click').click(function(e) {
    	  e.preventDefault()
    	  $(this).closest('form').find('#form').data('html5imageupload').imageCrop()
    });*/


</script>


</body>
</th:block>
</html>