<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>Online Project Managment</title>
    </head>

    <body>

    <div class="col-xs-12 .col-sm-6 .col-md-8 .col-xs-6 .col-md-4">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-4" th:each="tasks:${myTasks}">
                    <div class="ibox">
                        <a th:href="@{'/projectDetails/' + ${tasks.project.idProject}}">
                            <div class="ibox-title">
                                <h5 th:text="${tasks.project.projectName}"></h5>
                            </div>
                            <div class="ibox-content">

                                <h4 th:text="${tasks.taskName}"></h4>
                                <p >

                                </p>
                                <div>
                                    <span th:text="${tasks.description}"></span>
                                    <div class="stat-percent" th:text="'End Date '+${tasks.endDate}"></div>

                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>


        </div>
    </div>



    </body>
</th:block>
</html>