<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">

<head>
   <meta charset="UTF-8">
    <title>Project Details</title>

    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

    </script>
    <script>
        $('#taskDetails').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

    </script>
    <script>
        $('#addUserProject').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

    </script>



        </head>
<body>

<div class="row wrapper border-bottom  page-heading" style="margin-top: 15px;">

        <div class="col-lg-10">

            <h2 th:text="${project.projectName}"></h2>

        </div>



</div>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Görev Oluşur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${addTask}" method="post" th:action="@{'/addTask/'+ ${project.idProject}}">


                    <div class="form-group">
                        <label for="idUser">Kullanıcı</label>
                        <select class="form-control" th:field="*{userIdUser}" id="idUser">
                            <option
                                    th:each="user: ${users}"
                                    th:value="${user.idUser}"
                                    th:text="${user.username}" ></option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="startDate">Başlama Tarihi</label>
                        <input class="form-control" type="date"  th:field="*{createdTaskDate}" id="startDate" required>

                    </div>
                    <div class="form-group">
                        <label for="enddate">Bitiş Tarihi</label>
                        <input class="form-control" type="date"  th:field="*{endDate}" id="enddate" required>
                    </div>

                    <div class="form-group">
                        <label for="projectName">Görev İsmi</label>
                        <input class="form-control" type="text"  th:field="*{taskName}" id="projectName" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Açıklama</label>
                        <input class="form-control" type="text" th:field="*{description}" id="description" required>
                    </div>
                    <div class="form-group">
                        <label for="taskStatus">Görev Durumu</label>
                        <select class="form-control" th:field="*{taskStatus}" id="taskStatus">
                            <option
                                    th:each="stat: ${status}"
                                    th:value="${stat}"
                                    th:text="${stat}" ></option>
                        </select>

                    </div>

                    <button class="btn btn-primary" type="submit">Görev Oluştur</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskProgress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskProgressLabel">Create Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${addTask}" method="post" th:action="@{/inProgress}">


                    <div class="form-group">
                        <label for="idUser">Görevler</label>
                        <select class="form-control" th:field="*{idTask}" id="idTask">
                            <option
                                    th:each="tt: ${tasktodo}"
                                    th:value="${tt.idTask}"
                                    th:text="${tt.taskName}" ></option>
                        </select>
                    </div>




                    <button class="btn btn-primary" type="submit">Create Task</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="doneTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doneTaskLabel">Create Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${addTask}" method="post" th:action="@{/done}">


                    <div class="form-group">
                        <label for="idUser">Görevler</label>
                        <select class="form-control" th:field="*{idTask}" id="doneidTask">
                            <option
                                    th:each="tt: ${taskdoing}"
                                    th:value="${tt.idTask}"
                                    th:text="${tt.taskName}" ></option>
                        </select>
                    </div>




                    <button class="btn btn-primary" type="submit">Create Task</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addUserProject" tabindex="-1" role="dialog" aria-labelledby="addUserProjectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserProjectLabel">Kullanıcı Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${user}" method="post" th:action="@{'/addUserProject/'+ ${project.idProject}}">


                    <div class="form-group">
                        <label for="addUser">Kullanıcı Ekle</label>
                        <select class="form-control" th:field="*{username}" id="addUser">
                            <option
                                    th:each="user: ${users}"
                                    th:value="${user.username}"
                                    th:text="${user.username}" ></option>
                        </select>

                    </div>





                    <button class="btn btn-primary" type="submit">Kullanıcı Ekle</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskDetails" tabindex="-1" role="dialog" aria-labelledby="addUserProjectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskDetailsLabel">Task Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <div>
                            <div class="chat-activity-list">

                                <div class="chat-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">1m ago</small>
                                        <strong>Mike Smith</strong>
                                        <p class="m-b-xs">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                        </p>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>

                                <div class="chat-element ">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">2h ago</small>
                                        <strong>Mike Smith</strong>
                                        <p class="m-b-xs">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                        </p>
                                        <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-form">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<a th:href="@{'/projectReport/'+${project.idProject}}"><input type="button" style="width: 15%;margin-left: 15px" value="Durum Raporu"></a>
<a th:href="@{'/projectUserList/'+${project.idProject}}"><input type="button" style="width: 15%" value="Kullanıcılar Listesi"></a></a>
<div class="wrapper wrapper-content  animated fadeInRight" >
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Yapılacaklar</h3>

                    <div class="input-group">

                        <button type="button" class="btn btn-sm btn-white" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-plus"></i> Görev Ekle</button>


                        <button type="button" class="btn btn-sm btn-white" data-toggle="modal" data-target="#addUserProject"> <i class="fa fa-plus"></i> Kullanıcı Ekle</button>

                    </div>

                    <ul class="sortable-list connectList agile-list" id="todo" th:each="task : ${tasktodo}">

                        <li  class="warning-element" id="task1">
                            <b><p th:text="${task.taskName}"></p></b>

                            <a th:href="@{${task.user.getGitAccount()}}" th:text="'Kullanıcı '+${task.getUser().username}"></a>
                            <div class="agile-detail">
                                <p th:text="${task.description}"></p>
                                <i class="fa fa-clock-o"></i> <span th:text="'Teslim Tarihi '+ ${task.endDate}"></span>
                            </div>
                    </li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Yapılıyorlar</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Görevlerinizi Yapılıyora Taşıyın</p>
                    <div class="input-group">

                        <button type="button" class="btn btn-sm btn-white" data-toggle="modal" data-target="#addTaskProgress"> <i class="fa fa-plus"></i> Görev Ekle</button>



                    </div>
                    <ul class="sortable-list connectList agile-list" id="inprogress" th:each="task : ${taskdoing}">
                        <li class="success-element" id="task9">
                            <b><p th:text="${task.taskName}"></p></b>

                            <a th:href="@{${task.user.getGitAccount()}}" th:text="'Kullanıcı '+${task.getUser().username}"></a>
                            <div class="agile-detail">
                                <p th:text="${task.description}"></p>
                                <i class="fa fa-clock-o"></i> <span th:text="'Teslim Tarihi '+ ${task.endDate}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Yapılanlar</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Görevinizi Yapılanlara Taşıyın</p>
                    <div class="input-group">

                        <button type="button" class="btn btn-sm btn-white" data-toggle="modal" data-target="#doneTask"> <i class="fa fa-plus"></i> Görev Ekle</button>



                    </div>
                    <ul class="sortable-list connectList agile-list" id="completed" th:each="task : ${taskdone}">
                        <li class="info-element" id="task16">

                            <b><p th:text="${task.taskName}"></p></b>

                            <a th:href="@{${task.user.getGitAccount()}}" th:text="'Kullanıcı '+${task.getUser().username}"></a>

                            <div class="agile-detail">
                                <p th:text="${task.description}"></p>
                                <i class="fa fa-clock-o"></i> <span th:text="'Teslim Tarihi '+ ${task.endDate}"></span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</th:block>

</html>






















<!--
<div class="row">
    <div class="col">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Todo</th>
    </tr>

    </thead>

    <tbody>

    <tr th:each="task : ${tasktodo}" >
        <td th:text="${task.taskName}"></td>
    </tr>

    </tbody>
</table>
    </div>
    <div class="col">
    <table class="table table-hover">
    <thead>
    <tr>
        <th>Doing</th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="task : ${taskdoing}" >
        <td th:text="${task.taskName}"></td>
    </tr>

    </tbody>
</table>
    </div>
    <div class="col">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Done</th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="task : ${taskdone}" >
        <td th:text="${task.taskName}"></td>
    </tr>

    </tbody>
</table>
    </div>
</div>

!-->
