<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>Online Project Managment</title>
  </head>

  <body>
  <!DOCTYPE html>
  <html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link rel="stylesheet" th:href="@{/css/sliderbar_css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/plugins/toastr/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/sliderbar_css/style.css}">
    <link rel="stylesheet" th:href="@{/css/slidebar_font-awesome/css/font-awesome.css}">
    <style type="text/css">
      .gray-bg{
        background-color: #2f4050;
      }
      body:not(.mini-navbar) {
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
        background-color: #2f4050;
      }
    </style>
  </head>

  <body class="gray-bg">

  <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">PM+</h1>

      </div>
      <h3>Register to PM+</h3>
      <form class="m-t" role="form" th:object="${user}" method="post" th:action="@{/register}">
        <div class="form-group">
          <input type="text" class="form-control" th:placeholder="'Kullanıcı Adı'" th:field="*{username}" name="username" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" th:placeholder="'E-mail'" th:field="*{email}" name="email" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:placeholder="'İsminiz'" th:field="*{fullName}" name="fullname" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" th:placeholder="'Paralonız'" th:field="*{password}" name="password" required>
        </div>

        <div class="form-group">
          <input type="gitAccount" class="form-control" th:placeholder="'Git Hesabınız'" th:field="*{gitAccount}" name="gitAccount" required>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Kayıt OL</button>

        <a class="btn btn-sm btn-white btn-block" th:href="@{/login}" >Giriş Yap</a>
      </form>
      <div th:if="${error}">
        <h2 th:text="${error}"/>
      </div>
    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="js/plugins/iCheck/icheck.min.js"></script>
  <script>
      $(document).ready(function(){
          $('.i-checks').iCheck({
              checkboxClass: 'icheckbox_square-green',
              radioClass: 'iradio_square-green',
          });
      });
  </script>
  </body>

  </html>
  </body>
</th:block>
</html>