<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<th:block layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>Proje Görev Raporu</title>
    </head>
    <body>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="/autotable.js"></script>

    <div id="customers">
        <div class="table-responsive">
            <table id="basic-table" style="display: none;">
                <thead>
                <tr>
                    <th>Kullanıc</th>
                    <th>Görev Adı</th>
                    <th>Görev Durumu</th>
                    <th>başlangıç</th>
                    <th>bitiş</th>
                </tr>
                </thead>

                <tbody th>
                <tr th:each="task : ${tasks}">

                    <td th:text="${task.getUser().username}"></td>
                    <td th:text="${task.taskName}"></td>
                    <td th:text="${task.taskStatus}"></td>
                    <td th:text="${task.createdTaskDate}"></td>
                    <td th:text="${task.endDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button onclick="generate()">Raporu İndir</button>
    <script type="text/javascript">
        function generate() {

            var doc = new jsPDF('p', 'pt');

            var res = doc.autoTableHtmlToJson(document.getElementById("basic-table"));

            var header = function(data) {
                doc.setFontSize(18);
                doc.setTextColor(40);
                doc.setFontStyle('normal');
                //doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
            };

            var options = {
                beforePageContent: header,
                margin: {
                    top: 80
                },
                startY: doc.autoTableEndPosY() + 20
            };
            var columns = ["Username", "Task", "Status","Created","End"];

            doc.autoTable(columns, res.data, options);

            doc.save("table.pdf");
        }
    </script>
    </body>
</th:block>

</html>